@model Phonebook.Models.Department
@{
    var departments = ViewData["Departments"] as List<Phonebook.Models.Department>;
}

<!DOCTYPE html>
<html>
<head>
    <title>Добавление нового подразделения</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            padding: 20px;
        }

        h2 {
            color: #333;
            text-align:center;
        }

        form {
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            padding: 20px;
            width: 400px;
            margin: 0 auto;
        }

        label {
            display: block;
            margin-bottom: 5px;
            color: #333;
        }

        input[type="text"],
        select {
            width: 100%;
            padding: 8px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }

        button[type="submit"] {
            background-color: #4CAF50;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
            font-size: 15px;
        }

        button[type="submit"]:hover {
            background-color: #45a049;
        }

        .back-button {
            display: inline-block;
            padding: 10px 20px;
            background-color: #4CAF50;
            color: white;
            text-align: center;
            text-decoration: none;
            font-size: 16px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .back-button:hover {
            background-color: #45a049;
        }
    </style>
</head>
<body>
    <h2>Добавить новое подразделение</h2>
    <form method="post" action="@Url.Action("AddDepartment", "Department")">
        <div>
            <label for="Name">Название подразделения:</label>
            <input type="text" id="Name" name="Name" required />
        </div>
        <div>
            <label for="ParentDepartmentId">Родительское подразделение:</label>
            <select id="ParentDepartmentId" name="ParentDepartmentId">
                <option value="">Выберите родительское подразделение</option>
                @foreach (var department in departments)
                {
                    <option value="@department.DepartmentId">@department.Name</option>
                }
            </select>
        </div>
        <button type="submit">Добавить подразделение</button>
        <a href="@Url.Action("Index", "Home")" class="back-button">Назад на главную</a>
    </form>
</body>
</html>
